extends base
block contents
    h4=video.description
    h4=video.hashtag
    small=video.createdAt
    hr
    a(href=`${video.id}/edit`) Edit Video
    br
    a(href=`${video.id}/Delete`) Delete Video
