extends base
block contents
    ul 
        li=video.description
        li=video.hashtag
        li=video.createdAt
    br
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;